body {
    font-family: 'Montserrat', serif;
    background: #F5DBDA;
}

.TextImagesAndResults {
    border-radius: 20px;
    background-color: pink;
    padding-left: 10px;
}

span {
    margin-bottom: 100px;
}

img {
    border-radius: 20px;
}

li b,
li img {
    padding-top: 10px;
    padding-bottom: 10px;
}

b {
    color: purple;
}

#ResultDiv {
    border-radius: 20px;
    background-color: rgb(200, 200, 200);
}

#ResultDiv h4 {
    margin-left: 20px;
    padding-top: 10px;
}

.TextImagesAndResults {
    margin-right: 25px;
    margin-bottom: 25px;
}

.CopyRightFooter {
    position: fixed;
    color: #6C757D;
    bottom: 0;
    width: 100%;
    background-color: #F5F5F5;
    line-height: 3;
    text-align: center;
}

.Result {
    padding-bottom: 20px;;
}

.Conclusion {
    padding-bottom: 10px;
    margin-bottom: 50px;
    background-color: pink;
    border-radius: 20px;
}